<%= render 'layouts/header' %>

  <div class="container">
    <hr class="tp-divider">
    <div>
      <h2 class="project-header center"> 你好 </h2>
        <div class="self-text">
          <p id="special">
          Hi there! My name is Carl Liu (刘源). I am a product manager at Oracle BlueKai, the pioneer in big data management platform for ad-tech industry. I manage the redesign of BlueKai data inventory and quality monitoring system. 
        </p>
        <p>
          I graduated from Cornell University with a BS in computer science in 2010. I then moved to Redwood Shores in California where I built the latest enterprise resource planning application for Oracle. In 2014, I graduated from Stanford University with a MS in management science and engineering. In the same year I co-founded my first venture in helping people grow their career in software engineering. 
        </p>
        <p>
          I design. I code. I believe that a great engineered product should not only deliver functional and aesthetic values, but also establish an emotional and symbiotic bond to those who use it.
        </p>
    </div>
  </div>
<%= render 'layouts/footer' %>