<%= render 'layouts/header' %>

<div class="container">
  <hr class="tp-divider">
  	<div class = "cl-box">
			<p>
				<h2>Data Visualization: Fieldtrip to Seattle</h2>

				

				<img src="https://s3.amazonaws.com/carl-liu/pictures/Trip+Planner.png" class="blur">

			</p>
		</div> 
	</div>

<%= render 'layouts/footer' %>

</div>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>