<%= render 'layouts/header' %>

<div id = "gallery">
  <div class="container">
    <hr class="tp-divider">
    	<div>
    		<h2 class="project-header center"> 2014 </h2>
  			<div class="row">
          <div class="col-xs-6">
            <img class="thumbnail img-responsive" src="https://s3.amazonaws.com/carl-liu/pictures/Propelli.png">
          </div>
      		<div class="col-xs-6">
            <a href="projects/visualreal">
      			 <img class="thumbnail img-responsive" src="https://s3.amazonaws.com/carl-liu/pictures/Trip+Planner.png">
            </a>
     			</div>
    		</div>
      </div>
      <div>
        <h2 class="project-header center"> 2013 </h2>
        <div class="row" data-toggle="modal" data-target="#myModal">
          <div class="col-xs-6">
            <img class="thumbnail img-responsive" src="https://s3.amazonaws.com/carl-liu/pictures/OpenMind.jpg">
          </div>
        </div>
  		</div> 
  	</div>
  </div>
  <%= render 'layouts/footer' %>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $('.thumbnail').click(function(){
  		$('.modal-body').empty();
  		$($(this).parents('div').html()).appendTo('.modal-body');
  		$('#myModal').modal({show:true});
		});      
	});
</script>