<div class="container">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- FOOTER -->
<footer>
  <p class="center">
		<a href="https://www.facebook.com/carl.liuyuan‎"><i class="fa fa-facebook-square fa-2x"></i></a>
	</p>
  <p class="center">
  	Copyright © 2014 <a href="mailto:carljustdoit@gmail.com">Carl Liu</a>. All Rights Reserved.
  </p>

</footer>

</div>