<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!DOCTYPE html>
<html>
<head>
  <title>Carl Liu</title>
  <link rel="shortcut icon" href="https://s3.amazonaws.com/carl-liu/pictures/cl-icon.ico" />		
	<meta name="author" content="Carl Liu" />
	<meta name="copyright" content="All content (c) Carl Liu" />
	<meta name="description" content="Carl Liu is an entrepreneur, a product manager at Oracle Big Data team, and an alumni from both Cornell University and Stanford University." />
	<meta name="keywords" content="entrepreneurship, design, software, future" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
