<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!DOCTYPE html>
<html>
<head>
  <title>Carl Liu</title>
  <link rel="shortcut icon" href="images/n.png" />		
	<meta name="author" content="Carl Liu" />
	<meta name="copyright" content="All content (c) Carl Liu" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
